
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>ID de categoría:</div>
        <div><input type="text" name="id" /></div>
        <div><input type="submit" value="Buscar" /></div>
    }
</body>
</html>
